# Frontend Configuration
NEXT_PUBLIC_BACKEND_URL=https://api.regaloobyps.com
NEXT_PUBLIC_FRONTEND_URL=https://regaloobyps.com

# Google OAuth Configuration
# These should match your Google Cloud Console settings
NEXT_PUBLIC_GOOGLE_CLIENT_ID=918512590339-dsah34v7r9e2u1o6g3tm49gjt8q87ec7.apps.googleusercontent.com